@charset 'utf-8';

$color-text: #333;

$font-serif: 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$font-sansserif: Arial,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

$bp-sp: 600px;
$bp-tb: 960px;
